{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "jsx-quotes": [1, "prefer-single"],
    "no-undef": [2],
    "quotes": [1, "single", "avoid-escape"],
    "semi": [2, "always"]
  }
}
