// Colours
$danger: #dd1219;
$primary: #b2e6ff;
$success: #1cd48e;

// Font sizes
$font-normal: 1rem;
$font-medium: $font-normal * 1.5;

// Layout sizes
$size-normal: 0.5rem;
$size-small: $size-normal * 0.5;
